@font-face {
	font-family: 'consolas-bold-italic';
	src: local('ConsolasBoldItalic'), url(./App/Themes/ConsolasBoldItalic.ttf) format('truetype');
}
@font-face {
	font-family: 'consolas-regular';
	src: local('ConsolasBoldItalic'), url(./App/Themes/Consolas.ttf) format('truetype');
}
